*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
    background-color: #2F4F4F;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 3px solid #778899;
    border-radius: 7px;
    height: 600px;
    width: 338px;
    background-color: #36454F;
    box-shadow: 3px 3px 5px;
}
#box:hover {
    transform: scale(1.001) translate(-2px, -2px);
    box-shadow: 3px 3px 3px;
}
#display{
    display: grid;
    grid-template-areas:
     "num1 num1 backbutton"
     "operater num2 backbutton"
     ;
    background-color: #2C3539;
    border: 3px solid #778899;
    border-radius: 7px;
    height: 120px;
    width: 304px;
}
#displaynum{
    grid-area: num1;
    font-weight: 800;
    font-size: 200% ;
    color: #B0C4DE;
    text-align: end;
    width: 228px;
}
#displayNum{
    grid-area: num2;
    font-weight: 800;
    font-size: 200% ;
    color: #B0C4DE;
    text-align: end;
    width: 198px ;
}

#displayOperater{
    grid-area: operater;
    width: 30px;
    font-weight: 800;
    font-size: 200% ;
    color: #B0C4DE;
    text-align: center;
}
#backspace{
    grid-area: backbutton;
    display: grid;
    place-items: center;
    font-weight: 800;
    font-size: 200% ;
    color: #B0C4DE;
    text-align: center;
    width: 76px;
}
#Button{
    
    border-radius: px;
    height: 420px;
    width: 304px;
    display: grid;
    grid-template-columns: repeat(4,4fr);
    justify-items: center;
    align-items: center;
    row-gap: 7px;
    column-gap: 7px;
}
.btn{
    display: grid;
    place-items: center;
    border: 3px solid #778899;
    border-radius: 7px;
    height: 100%;
    width: 100%;
    font-weight: 800;
    font-size: larger;
    color: #B0C4DE;
}
.btn:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease;
}
.operationButton.btn {
    font-weight: 900;
    color: #36454F;
    font-size: larger;
    background-color: #778899;
}
.operationbutton.btn{    
    font-weight: 900;
    color: #36454F;
    font-size: larger;
    background-color: #778899;
}

.numButton.btn {
    background-color: #36454F; 
}
